<div class="row">
  <div class="col s2 side-nav-categories">
    <div class=side-nav-categories"">
          <ul>
            <% @shop.categories.each do |cat| %>
              <a href="/categories/<%= cat.id %>">
                <li class="category-link"><%= cat.category_name %></li>
              </a>
            <% end %>
          </ul>
    </div>
  </div>
  <div class="col s10">
    <ul class="bxslider" style="border: 0px;">
    <% @shop.categories.each do |cat| %>
            <div class="shop-banner-landing">
              <% if cat.products.any? %>
              <li>
              <div class="title-banner">
                <h1><%= cat.category_name %></h1>
                  <% prod = cat.products.sample %>
                  <h4><%= prod.product_name %></h4>
              </div>
              <div class="content-banner">
                <div class="text-banner">
                  <p><%= prod.product_description %></p>
                  <span class="money-banner"><%= number_to_currency(prod.price, :unit => 'KES ') %></span>
                </div>
                <div class="offer-banner">
                  <%= link_to 'Shop Now', category_path(cat), class: 'btn-large' %>
                </div>
              </div>
            </li>
            <% end %>
            </div>
      <% end %>
    </ul>
  </div>

</div>

<div class="products-container">
  <h4>Top Products</h4>
  <div class="row">
    <% @top_products.each do |product| %>
      <a href="/products/<%= product.id %>">
        <div class="col s3 ">
          <div class="card" style="padding: 0px;">
            <div class="card-image">
              <li><%= image_tag product.image, class: 'product-card-small', :height => "350px", :width => "150px" %></li>
            </div>
            <div class="card-content">
              <h6><%= product.product_name %></h6>
              <p><%= product.product_description[0, 30] + "..." %> <%= link_to 'more' %></p>
            </div>
            <div class="card-action">
              <div class="row">
          <div class="col s6">
                       <i id= "changeColor" class="material-icons" onclick="addToWishlist(<%= product.id %>)">favorite_border</i>
                 </div> 
                <div class="col s6">
                  <div class="money-tile">
                    <%= number_to_currency(product.price, :unit => ' KES') %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>

<div class="products-container">
  <h4>Latest Products</h4>
  <div class="row">
    <% @latest_products.reverse.each do |product| %>
      <a href="/products/<%= product.id %>">
        <div class="col s3 ">
          <div class="card" style="padding: 0px;">
            <div class="card-image">
              <li><%= image_tag product.image, class: 'product-card-small', :height => "350px", :width => "150px"%></li>
            </div>
            <div class="card-content">
              <h6><%= product.product_name %></h6>
              <p><%= product.product_description[0, 30] + "..." %> <%= link_to 'more' %></p>
            </div>
            <div class="card-action">
              <div class="row">
           <div class="col s6">
            <i id= "changeColor" class="material-icons" onclick="addToWishlist(<%= product.id %>)">favorite_border</i>
                </div> 
                <div class="col s6">
                  <div class="money-tile">
                    <%= number_to_currency(product.price, :unit => ' KES') %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
