<div class="orders">
  <div class="card">
    <h5>Order Successfully Placed!</h5>
    <table class="stripped">
      <thead>
        <th>Order Number</th>
        <th>Customer</th>
        <th>Order Item(s)</th>
        <th>Order Total</th>
        <th>Payment Method</th>
        <th>Drop Off</th>
        <th>Date</th>
        <th></th>
      </thead>
      <tbody>
        <% current_shop.orders.each do |order| %>
          <tr>
           <td><%= order.id %></td>
            <td><%= order.client_name %></td>
            <td>
               <ul>
                 <% order.order_items.each do |item| %>
                   <li><%= item.product.product_name %>(<%= item.quantity %>)</li>
                   <li><%= item.size%></li>
                 <% end %>
               </ul>
            </td>
            <td><%= number_to_currency(order.order_total, :unit => 'KES ') %></td>
            <td><%= order.order_payment_method %></td>
            <td><%= order.delivery %></td>
            <td><%= order.created_at.to_date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>