<div class="product-page">
  <div class="row product-area">
    <div class="col s6">
      <ul class="bxslider" style="border: 0px;">
        <li><%= image_tag ['store', 'band', 'diamond', 'watch', 'crush'].sample, class: 'product-card-big' %></li>
        <li><%= image_tag ['store', 'band', 'diamond', 'watch', 'crush'].sample, class: 'product-card-big' %></li>
        <li><%= image_tag ['store', 'band', 'diamond', 'watch', 'crush'].sample, class: 'product-card-big' %></li>
        <li><%= image_tag ['store', 'band', 'diamond', 'watch', 'crush'].sample, class: 'product-card-big' %></li>
      </ul>
    </div>
    <div class="col s6">
      <h4><%= @product.product_name %></h4>
      <p><%= @product.product_description %></p>
      <p><%= number_to_currency(@product.price, :unit => ' KES') %></p>
      <div class="qty-form">
        <%= form_tag order_items_path  do %>
          <label for="">Size</label>
          <%= hidden_field_tag :product_id, nil, :value => @product.id %>
          <%= select_tag :size, options_for_select(['XXL', 'XL', 'Large', 'Medium', 'Small']), class: 'browser-default' %>
          <label for="">Color</label>
          <div class="row">
            <% red = ['red', 'blue', 'purple', 'orange'] %>
            <% 4.times do |x| %>
              <div class="col s2">
                <div class="card color <%= red[x] %>"></div>
              </div>
            <% end %>
          </div>
          <label for="">Quantity</label>
          <%= number_field_tag :quantity, nil, :value => 1 %>
          <%= submit_tag 'Add To Cart', class: 'btn-large' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <h5>Similar Products</h5>
      <div class="row similar-products">
          <% Product.all.limit(4).reverse.each do |product| %>
            <a href="/products/<%= product.id %>">
              <div class="col s6">
                <div class="card" style="padding: 0px;">
                  <div class="card-image">
                    <%= image_tag ['store', 'band', 'diamond', 'watch', 'crush'].sample, class: 'product-card' %>
                  </div>
                  <div class="card-content">
                    <h6><%= product.product_name %></h6>
                    <p><%= product.product_description[0, 30] + "..." %> <%= link_to 'more' %></p>
                  </div>
                  <div class="card-action">
                    <div class="row">
                      <div class="col s6">
                        <%= form_tag order_items_path do %>
                          <%= hidden_field_tag :product_id, nil, :value => product.id %>
                          <%= hidden_field_tag :quantity, nil, :value => 1 %>
                          <%= submit_tag 'Add to Cart', class: 'btn' %>
                        <% end %>
                      </div>
                      <div class="col s6">
                        <div class="money-tile">
                          <%= number_to_currency(product.price, :unit => ' KES') %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          <% end %>
      </div>
    </div>
    <div class="col s6">
      <h5>Recommended Products</h5>
      <div class="row">
        <% Product.all.limit(4).reverse.each do |product| %>
          <a href="/products/<%= product.id %>">
            <div class="col s6 ">
              <div class="card" style="padding: 0px;">
                <div class="card-image">
                  <%= image_tag ['store', 'band', 'diamond', 'watch', 'crush'].sample, class: 'product-card' %>
                </div>
                <div class="card-content">
                  <h6><%= product.product_name %></h6>
                  <p><%= product.product_description[0, 30] + "..." %> <%= link_to 'more' %></p>
                </div>
                <div class="card-action">
                  <div class="row">
                    <div class="col s6">
                      <%= form_tag order_items_path do %>
                        <%= hidden_field_tag :product_id, nil, :value => product.id %>
                        <%= hidden_field_tag :quantity, nil, :value => 1 %>
                        <%= submit_tag 'Add to Cart', class: 'btn' %>
                      <% end %>
                    </div>
                    <div class="col s6">
                      <div class="money-tile">
                        <%= number_to_currency(product.price, :unit => ' KES') %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
