<div class="product-page">
  <div class="row product-area">
    <div class="col s6">
      <ul class="bxslider" style="border: 0px;">
        <li><%= image_tag ['store', 'band', 'diamond', 'watch', 'crush'].sample, class: 'product-card-big' %></li>
        <li><%= image_tag ['store', 'band', 'diamond', 'watch', 'crush'].sample, class: 'product-card-big' %></li>
        <li><%= image_tag ['store', 'band', 'diamond', 'watch', 'crush'].sample, class: 'product-card-big' %></li>
        <li><%= image_tag ['store', 'band', 'diamond', 'watch', 'crush'].sample, class: 'product-card-big' %></li>
      </ul>
    </div>
    <div class="col s6">
      <h4><%= @product.product_name %></h4>
      <p><%= @product.product_description %></p>
      <p><%= number_to_currency(@product.price, :unit => ' KES') %></p>
      <div class="qty-form">
          <label for="">Size</label>
          <select id="product_size" class="browser-default">
            <option value="XXL">XXL</option>
            <option value="XL">XL</option>
            <option value="L">L</option>
            <option value="M">M</option>
            <option value="S">S</option>
          </select>
          <label for="">Color</label>
          <div class="row">
            <% red = ['red', 'blue', 'purple', 'orange'] %>
            <% 4.times do |x| %>
              <div class="col s2">
                <div id="product_color" class="card color <%= red[x] %>"></div>
              </div>
            <% end %>
          </div>
          <label for="">Quantity</label>
          <input id="product_qty" type="text" name="qty" value="1">
          <i class="material-icons large" onclick="addToCart(<%= @product.id %>)">add_shopping_cart</i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <h5>Similar Products</h5>
      <div class="row similar-products">
          <% Product.all.limit(4).reverse.each do |product| %>
            <a href="/products/<%= product.id %>">
              <div class="col s6">
                <div class="card" style="padding: 0px;">
                  <div class="card-image">
                    <%= image_tag ['store', 'band', 'diamond', 'watch', 'crush'].sample, class: 'product-card' %>
                  </div>
                  <div class="card-content">
                    <h6><%= product.product_name %></h6>
                    <p><%= product.product_description[0, 30] + "..." %> <%= link_to 'more' %></p>
                  </div>
                  <div class="card-action">
                    <div class="row">
                      <div class="col s6">
                        <i class="material-icons" onclick="addToCart(<%= product.id %>)">add_shopping_cart</i>
                      </div>
                      <div class="col s6">
                        <div class="money-tile">
                          <%= number_to_currency(product.price, :unit => ' KES') %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          <% end %>
      </div>
    </div>
    <div class="col s6">
      <h5>Recommended Products</h5>
      <div class="row">
        <% Product.all.limit(4).reverse.each do |product| %>
          <a href="/products/<%= product.id %>">
            <div class="col s6 ">
              <div class="card" style="padding: 0px;">
                <div class="card-image">
                  <%= image_tag ['store', 'band', 'diamond', 'watch', 'crush'].sample, class: 'product-card' %>
                </div>
                <div class="card-content">
                  <h6><%= product.product_name %></h6>
                  <p><%= product.product_description[0, 30] + "..." %> <%= link_to 'more' %></p>
                </div>
                <div class="card-action">
                  <div class="row">
                    <div class="col s6">
                      <i class="material-icons" onclick="addToCart(<%= product.id %>)">add_shopping_cart</i>
                    </div>
                    <div class="col s6">
                      <div class="money-tile">
                        <%= number_to_currency(product.price, :unit => ' KES') %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
