<!DOCTYPE html>
<html>
  <head>
    <title>VetaShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav>
    <div class="container">
      <div class="nav-wrapper">
          <% if shop_signed_in? %>
            <%= link_to current_shop.shop_name, root_url, class: 'brand-logo' %>
          <% else %>
            <a href="/" class="brand-logo">VetaShop</a>
          <% end %>
        <ul id="nav-mobile" class="right nav-links">
          <% if shop_signed_in? %>
            <li><%= link_to 'Manage Shop', edit_shop_registration_path %></li>
          <% else %>
            <li><%= link_to 'New Shop', new_shop_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  </header>
  <body onload="slider()">
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"><%= current_shop.shop_name %></h5>
          <p class="grey-text text-lighten-4"><%= current_shop.tag_line %></p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Contact Information</h5>
          <ul>
            <% current_shop.addresses.each do |addr| %>
              <li><%= addr.physical_address %></li>
              <li><%= addr.phone_number %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright <%= current_shop.shop_name %>
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
<script type="text/javascript">
  $(document).ready(function(){
    $('.bxslider').bxSlider();
  });
</script>
</html>
