<!DOCTYPE html>
<html>
  <head>
    <title>VetaShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% @shop = Shop.last %>
  <header>
    <nav>
    <div class="container">
      <div class="nav-wrapper">
          <% if shop_signed_in? %>
            <%= link_to current_shop.shop_name, root_url, class: 'brand-logo' %>
          <% else %>
            <a href="/" class="brand-logo">VetaShop</a>
          <% end %>
        <ul id="nav-mobile" class="right nav-links">
          <% if shop_signed_in? %>
            <li><%= link_to 'Manage Shop', edit_shop_registration_path %></li>
          <% else %>
            <li><%= link_to 'New Shop', new_shop_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  </header>
  <div class="shopping-cart">
    <div class="cart-title">
      <h6>Cart <sub><%= @cart.order_items.count %> Items</sub> </h6>
        <table>
          <thead>
            <th>Item</th>
            <th>Qty</th>
            <th>Total</th>
          </thead>
          <tbody>
            <% @cart.order_items.each do |item| %>
              <tr>
                <td class="td-cart">
                  <%= item.product.product_name %></br>
                  <%= number_to_currency(item.product.price, :unit => ' KES') %>
                </td>
                <td class="td-cart"><%= item.quantity %></td>
                <td class="td-cart"><%= number_to_currency(item.total_cost, :unit => ' KES') %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% if @cart.sub_total_price != nil %>
          <table>
            <tr>
              <td>Subtotal</td>
              <td><%= number_to_currency(@cart.sub_total_price, :unit => ' KES') %></td>
            </tr>
            <tr>
              <td>VAT
              <%= @shop.vat_rate %>%</td>
              <td><%= number_to_currency(@cart.sub_total_price * @shop.vat_rate.to_i / 100, :unit => ' KES') %></td>
            </tr>
            <tr>
              <td>Total</td>
              <td><%= number_to_currency(@cart.total_price, :unit => ' KES') %></td>
            </tr>
          </table>
        <% end %>
        <div class="">
          <%= link_to 'Checkout', root_url, class: 'btn-large' %>
        </div>
    </div>
  </div>
  <body onload="slider()">
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"><%= @shop.shop_name %></h5>
          <p class="grey-text text-lighten-4"><%= @shop.tag_line %></p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Contact Information</h5>
          <ul>
            <% @shop.addresses.each do |addr| %>
              <li><%= addr.physical_address %></li>
              <li><%= addr.phone_number %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright <%= @shop.shop_name %>
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
<script type="text/javascript">
  $(document).ready(function(){
    $('.bxslider').bxSlider();
  });
</script>
</html>
